{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 52,
        "firefox": 60,
        "ie": 10
      },
      "spec": true,
      "debug": false
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    ["lodash"],
    ["transform-class-properties"],
    ["transform-runtime"]
  ]
}
